*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bannerimage{
    height: 60px;
    width: 300px;
    background-color: white;
}

.navbar-brand{
    margin-left: 40px;
}

.navbar-nav{
    margin-right: 30px;
}

.carousel {
    background-image: url("./images/backgroundimage.jpg");
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    text-align: center;
    padding-top: 210px;
    color: white;
    margin-top: 20px;
}

.heading {
    background-color:#E5E4E2;
}

.carousel-control-prev{
    padding-left: 100px;
}

.carousel-control-next{
    padding-right: 100px;
}
nav div ul li a {
    font-size: 0.6rem;
}
.color-blue {
    color: blue !important;
}

.container-fluid{
    background-color: #DCDCDC;
    height: 30px;
}

.fa{
    color: #6CC417;
}
.icontext{
    margin-top: 5px;
    font-size: 10px;
    display: inline-block;
    padding-left: 15px;
    text-transform: capitalize;
    font-size: 10px;
    letter-spacing: 1px;
    color: black
}

.blue_text {
    color: blue !important;
    
}

nav div ul li a {
    font-size: 15px;
    text-transform: uppercase;
}
.fa-clock{
    margin-left: 30px;
    color: #6CC417;
}

.fa-phone{
    margin-left: 30px;
    color: #6CC417;
}

.fa-facebook{
    margin-left: 200px;
}

.fa-twitter {
    padding-left: 8px;
}

.fa-google-plus-g{
    padding-left: 8px;
}

section p  {
    margin-top: 70px;
    color: #6CC417;
    font-weight: bold;
    font-size: 1.5rem}

.spanclass{
    font-size: 1.5rem;
    color: blue;
    margin-bottom: 70px;
}

.col-md-4 {
    background-color: white;
}

.text_center{
    margin-right: auto;
    margin-left: auto;
}

.margin_top{
    margin-top: 100px;
}

.margin_top_70px{
    margin-top: 70px;
}
.card {
    margin-top: 50px;
}

.width{
    width: 30px;
    border: 1px solid black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.card {
    height: 338px;
}

.fa-brands{
    margin-left: 5px;
}

.footing{
    background-color: #212F3C;
    color: white;
}

.footing p {
    font: 10px;
    margin: 5px;
}

.fa-user-group{
    color: blue;
}

.fa-handshake{
    color: blue;
}

.fa-indian-rupee-sign{
    color: blue;
}